body {
    font-family: consolas, 微軟正黑體;
}

a {
    text-decoration: none;
}

a:link, :visited {
    color: blue; 
    text-decoration: none;
}

a:hover {
    color: blueviolet;
    text-decoration: none;
}

a:active {
    color:red;
    text-decoration: underline
}

.Search {
    width: 50%;
}

.Search input {
    font-size: 12px;
}

.Search input[type = "text"] {
    width: 25%;
}

.Search input[type = "button"], input[type = "submit"] {
    width: 10%;
}

.IdolCardTable {
    border-collapse: collapse;
}

.IdolCardTable th {
    border: 1px solid black;
    background: #aaa;
    width: 5%;
}

.IdolCardTable td {
    border: 1px solid gray;
    font-size: 12px;
}

.IdolCardTable tr:nth-child(even) {
    background-color: #eee;
}

.IdolCardTable tr:nth-child(odd) {
    background-color: #fff;
}

.IdolCardTable input[type=submit] {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    color: blue;
    text-decoration: none;
}

.IdolSettingAddTable {
    width: 100%;
}

.IdolSettingAddTable td {
    text-align: center;
}

.IdolSettingAddTable input {
    width: 100%;
    font-size: 12px;
}